.mobile-nav {
    position: absolute; /*position: fixed; is also good but I will use absolute bcuz later on it will be fixed using js*/
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%; /*100vh*/ 
    background-color: var(--clr-dark);
    display: none; /*display none kase dapat iclick muna ang bar pra ma view ang nav*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu {
    list-style: none;
    /* border: 1px solid green; */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-light);
    letter-spacing: -0.05em;
    transition: color 0.3s;

    &:hover {
        color: var(--clr-rose);
    }
}

.mobile-nav__link-line {
    border: 1px solid var(--clr-slate800);
    padding-right: 1.5em;
}

.mobile-nav__sun {
    display: block; /*to make it center*/
    width: var(--size-xl);
    height: var(--size-xl);
    color: var(--clr-slate600);
}

.mobile-nav__btn {
    font-size: var(--size-sm);
}

